.post {
    
h1 {
    font-family: $baskerville;
    font-weight: 500;
    font-size: 18pt;
    margin: 2rem 0 1rem 0;
}
    
  &-title {
    color: $default-shade;
    font-family: $sans-font;
    font-size: 4rem;
    font-weight: 500;
    margin: 0 0 0 0;
    text-align: left;
  }

  p {
    text-align: left;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
    
  p:last-child {
    margin-bottom: 5%;
  }


  a:hover {
    text-decoration: underline;
  }
}
